GITHUB_USER=your_github_username
GITHUB_TOKEN=your_github_token

MONGODB_DATABASE=product-db
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_USERNAME=root
MONGODB_PASSWORD=password
MONGODB_AUTH_DB=admin

POSTGRES_DB_URL=jdbc:postgresql://localhost:5432/order_db
POSTGRES_DB_USER=admin
POSTGRES_DB_PASSWORD=admin

MYSQL_DB_URL=jdbc:mysql://localhost:3306/inventory_db
MYSQL_DB_USER=root
MYSQL_DB_PASSWORD=password
